<div class="container-fluid">

  <div class="row">
    <% # Filters sidebar %>
    <div class="col-md-2">
      <%= render :partial => 'filters', :locals => {:products => @products} %>
    </div>

    <% # Product list %>
    <div class="col-md-10">
      <%= render :partial => 'product_list2', :locals => {:products => @products} %>
    </div>
  </div>

  <% # Pagination using Kaminari %>
  <div class="row product-pagination" data-turbolinks="true">
    <%= paginate @products  %>
  </div>

  <% # TRR API call debug information (eg:- url, total results, offset, selected filters...) %>
  <%= render :partial => 'api_debug_info' %>
</div>


<%= javascript_tag do %>
var Turbolinks = require("turbolinks");
Turbolinks.start();
<% end %>



