<h1>Products</h1>


<ul data-turbolinks="true">
<% product_aggregations_filters(@products) do |name, selected, facet_url| %>
  <li><%= link_to(name, facet_url) %> (<%= selected %>)</li>
<% end %>
</ul>


<table class="table">
<thead>
  <th></th>
  <th>ID</th>
  <th>SKU</th>
  <th><Name</th>
  <th>Availability</th>
  <th>Condition</th>
</thead>
<tbody>
<% @products.each_with_index do |product, i| %>
  <tr>
    <th scope="row"><%= i +1      %></th>
    <td><%= product.id            %></td>
    <td><%= product.sku           %></td>
    <td><%= product.name          %></td>
    <td><%= product.availability  %></td>
    <td><%= product.condition     %></td>
    <td><img src="<%= product.meduim_main_images.first %>" style="height:50px"/></td>
  </tr>
<% end %>
</tbody>
</table>


<%= javascript_tag do %>
var Turbolinks = require("turbolinks");
Turbolinks.start();
<% end %>
